{% load static %}
<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://saveeb.pycpim.in{% static 'cropped-hammer_sickle-32x32.png' %}" sizes="32x32" />
    <link rel="icon" href="https://saveeb.pycpim.in{% static 'cropped-hammer_sickle-192x192.png' %}" sizes="192x192" />
    <link rel="icon" href="https://saveeb.pycpim.in{% static 'cropped-hammer_sickle-180x180.png' %}" />
    <meta property="og:title" content="Save EB - Signature Campaign - CPI(M) Puducherry" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Signature Campaign to stop the implementation of prepaid electric meters | ப்ரீபெய்டு மின் மீட்டரை எதிர்ப்போம்! மின்துறையை பாதுகாப்போம்!!" />
    <meta property="og:url" content="https://saveeb.pycpim.in/" />
    <meta property="og:image" content="https://saveeb.pycpim.in{% static 'signature_campaign_poster.jpeg'%}" />
    <meta name="twitter:title" content="Save EB - Signature Campaign - CPI(M) Puducherry">
    <meta name="twitter:description" content="Signature Campaign to stop the implementation of prepaid electric meters | ப்ரீபெய்டு மின் மீட்டரை எதிர்ப்போம்! மின்துறையை பாதுகாப்போம்!!">
    <meta name="twitter:url" content="https://saveeb.pycpim.in/">
    <meta name="twitter:image" content="https://saveeb.pycpim.in{% static 'signature_campaign_poster.jpeg'%}">
    <meta name="twitter:card" content="image_summary">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'fontello/css/social.css' %}">
    <style>
      .has-text-danger {
        color: #e30404 !important;
      }
      .has-text-success {
        color: #166900 !important;
      }
      .button.is-danger {
        background-color: #e30404;
        border-color: transparent;
        color: #fff;
      }
      .button.is-danger.is-hovered, .button.is-danger:hover {
        background-color: #ab0000;
        border-color: transparent;
        color: #fff;
      }
      .button.is-success {
        background-color: #166900;
        border-color: transparent;
        color: #fff;
      }
      .button.is-success.is-hovered, .button.is-success:hover {
        background-color: #0f4700;
        border-color: transparent;
        color: #fff;
      }
      .hero.is-danger {
        background-color: #e30404;
        color: #fff;
      }
    .button.is-facebook {
        background-color: #0866ff;
        border-color: transparent;
        color: #fff;
    }
    .button.is-facebook.is-hovered, .button.is-facebook:hover {
        background-color: #024fca;
        border-color: transparent;
        color: #fff;
    }
    .button.is-whatsapp {
        background-color: #24b83d;
        border-color: transparent;
        color: #fff;
    }
    .button.is-whatsapp.is-hovered, .button.is-whatsapp:hover {
        background-color: #108323;
        border-color: transparent;
        color: #fff;
    }
    .button.is-twitter {
        background-color: #000000;
        border-color: transparent;
        color: #fff;
    }
    .button.is-twitter.is-hovered, .button.is-twitter:hover {
        background-color: #292929;
        border-color: transparent;
        color: #fff;
    }
    </style>
    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>
  <body class="has-background-white-ter">
    {% block content %}
    {% endblock %}
    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
    <section class="hero is-danger">
      <div class="hero-body has-text-centered">
      <p>
        <img src="{% static 'cpim_logo.png' %}" height="150px" width="150px" />
      </p>
        <p class="title is-size-4 has-text-weight-bold">
          Communist Party Of India [Marxist] - Puducherry State
        </p>
        <p class="subtitle is-size-5">
          இந்திய கம்யூனிஸ்ட் கட்சி [மார்க்சிஸ்ட்] - புதுச்சேரி மாநிலம்
        </p>
      </div>
    </section>
  </body>
</html>