{% extends "signature/base_site.html" %}
{% load static %}
{% block title %}Save EB - Signature Campaign - CPI(M) Puducherry{% endblock %}
{% block content %}
<section class="hero is-full-height is-danger">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        <img src="{% static 'logo.png' %}" height="300px" width="300px" />
      </p>
      <p class="subtittle is-size-3 is-size-4-mobile has-text-weight-bold is-family-monospace has-text-white">
        ப்ரீபெய்டு மின் மீட்டரை எதிர்த்து கையெழுத்திட்டவர்கள்
      </p>
      <p class="is-size-1 has-text-warning has-text-weight-bold">
        - {{ no_of_signatures }} -
      </p>
      <br/>
      <p class="subtittle is-size-4 is-size-5-mobile has-text-weight-bold is-family-monospace has-text-white">
        நேரில் பெறப்பட்ட படிவங்கள்
      </p>
      <p class="is-size-1 has-text-warning has-text-weight-bold">
        - {{ no_of_physical_signatures }} -
      </p>
      <br/>
      <p>
        <a href="#signature" class="button is-dark is-rounded is-size-7-mobile">
          Sign the Petition | மனுவில் கையெழுத்திட
        </a>
      </p>
      <p class="subtittle is-size-4 has-text-weight-bold is-family-monospace has-text-white" style="margin-top: 15px;">
        சமூக வலைத்தளங்களில் பகிர
      </p>
      <p class="has-text-centered">
        <div class="field">
            <a class="button is-whatsapp" target="_blank" rel="noopener" aria-label="Share on Whatsapp" href="whatsapp://send?text=%E0%AE%AA%E0%AF%8D%E0%AE%B0%E0%AF%80%E0%AE%AA%E0%AF%86%E0%AE%AF%E0%AF%8D%E0%AE%9F%E0%AF%81%20%E0%AE%AE%E0%AE%BF%E0%AE%A9%E0%AF%8D%20%E0%AE%AE%E0%AF%80%E0%AE%9F%E0%AF%8D%E0%AE%9F%E0%AE%B0%E0%AF%88%20%E0%AE%8E%E0%AE%A4%E0%AE%BF%E0%AE%B0%E0%AF%8D%E0%AE%AA%E0%AF%8D%E0%AE%AA%E0%AF%8B%E0%AE%AE%E0%AF%8D!%20%E0%AE%AE%E0%AE%BF%E0%AE%A9%E0%AF%8D%E0%AE%A4%E0%AF%81%E0%AE%B1%E0%AF%88%E0%AE%AF%E0%AF%88%20%E0%AE%AA%E0%AE%BE%E0%AE%A4%E0%AF%81%E0%AE%95%E0%AE%BE%E0%AE%AA%E0%AF%8D%E0%AE%AA%E0%AF%8B%E0%AE%AE%E0%AF%8D!!%20%23saveeb%20%23pycpim%20https%3A%2F%2Fsaveeb.pycpim.in">
                <span class="icon">
                    <i class="icon-whatsapp"></i>
                </span>
            </a>
            <a class="button is-facebook" target="_blank" rel="noopener" aria-label="Share on Facebook" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsaveeb.pycpim.in">
                <span class="icon">
                    <i class="icon-facebook"></i>
                </span>
            </a>
            <a class="button is-twitter" target="_blank" rel="noopener" aria-label="Share on Twitter" href="https://twitter.com/intent/tweet/?text=%E0%AE%AA%E0%AF%8D%E0%AE%B0%E0%AF%80%E0%AE%AA%E0%AF%86%E0%AE%AF%E0%AF%8D%E0%AE%9F%E0%AF%81%20%E0%AE%AE%E0%AE%BF%E0%AE%A9%E0%AF%8D%20%E0%AE%AE%E0%AF%80%E0%AE%9F%E0%AF%8D%E0%AE%9F%E0%AE%B0%E0%AF%88%20%E0%AE%8E%E0%AE%A4%E0%AE%BF%E0%AE%B0%E0%AF%8D%E0%AE%AA%E0%AF%8D%E0%AE%AA%E0%AF%8B%E0%AE%AE%E0%AF%8D!%20%E0%AE%AE%E0%AE%BF%E0%AE%A9%E0%AF%8D%E0%AE%A4%E0%AF%81%E0%AE%B1%E0%AF%88%E0%AE%AF%E0%AF%88%20%E0%AE%AA%E0%AE%BE%E0%AE%A4%E0%AF%81%E0%AE%95%E0%AE%BE%E0%AE%AA%E0%AF%8D%E0%AE%AA%E0%AF%8B%E0%AE%AE%E0%AF%8D!!%20%23saveeb%20%23pycpim&amp;url=https%3A%2F%2Fsaveeb.pycpim.in">
                <span class="icon">
                    <i class="icon-twitter"></i>
                </span>
            </a>
        </div>
      </p>
    </div>
  </div>
</section>
<section class="hero">
  <div class="container">
    <div class="content is-medium m m-5">
      <h1 class="has-text-centered has-text-danger is-size-4-mobile">ப்ரீபெய்டு மின் மீட்டரை எதிர்ப்போம்! மின்துறையை பாதுகாப்போம்!!</h1>
      <div class="has-text-justified">
      <p>அன்புடையீர் வணக்கம்!</p>
      <p>நீங்கள் நலமா? என்று கேட்கத் தோன்றுகிறது ஆனால் நம்மை ஆளும் மத்திய, மாநில அரசுகளின் கொடுங்கோல் ஆட்சியில் இந்த கேள்விக்கு ஏதாவது பொருத்தம் இருக்குமா என்று நினைக்கும் போது வேதனை அளிக்கிறது.</p>
      <p>நாம் அன்றாடம் பயன்படுத்தும் பொருட்களின் விலை நாளுக்கு நாள் அதிகரித்துக் கொண்டே செல்கிறது. சிறு குறு தொழில் நடத்துபவரும், தள்ளுவண்டி வியாபாரம் செய்பவரும் என எல்லோரும் வியாபாரம் குறைந்து தவித்து வருகின்றனர். இருந்த வேலையும் போய் தற்போது வேலையில்லாமல் இருப்பவர்கள் ஒரு புறம், படித்து முடித்துவிட்டு வேலை தேடி அலையும் நம் பிள்ளைகள் மறுபுறம் என புதுச்சேரி மக்கள் கடும் துயரம் அடைந்து வருகிறோம்.</p>
      <p>இந்நிலையில் மக்களுக்கு சொந்தமான அரசு மின்துறையை ஒன்றிய மோடி அரசும், புதுச்சேரி பாஜக-என்.ஆர்.காங்கிரஸ் கூட்டணி அரசும் தங்களுக்கு வேண்டிய முதலாளிகளுக்கு பரிசாக அளிக்க தவியாய் தவித்து வருகிறார்கள்.</p>
      <p>20 ஆயிரம் கோடி ரூபாய் மதிப்புள்ள மின்துறையை விற்கத் துடிக்கிறார்கள். மார்க்சிஸ்ட் கம்யூனிஸ்ட் கட்சி உள்ளிட்ட அனைத்துக் கட்சிகளும், மின்ஊழியர்களும் மின்துறையை விற்காதே என போராடினார்கள். ஆட்சியாளர்களுக்கு மக்களைப் பற்றி கவலை இல்லை. மின்துறையை வாங்கும் முதலாளிகள் தரும் பணம்தான் முக்கியமாக தெரிகிறது.</p>
      <p>முன்னாள் பிரதமர் திரு. வாஜ்பாய் ஆட்சியில் மின்சாரம் சட்டம் 2003 கொண்டு வரப்பட்டது. இதன் கீழ் தனியார்மய நடவடிக்கைகள் தீவிரம் அடைந்து வருகிறது மாநில அரசு மின் கட்டணம் நிர்ணயிக்கும் முறை கைவிடப்பட்டது. ஒன்றிய அரசு அமைத்துள்ள ஒழுங்குமுறை ஆணையம் / இணை ஒழுங்குமுறை ஆணையத்தின் மூலம் தா‌ன் கட்டணம் நிர்ணயிக்கப்படுகிறது.</p>
      <p>மேற்படி ஆணையம் 2003 சட்டத்தின் கீழ் மின்சார கொள்முதலுக்கும் விற்பனைக்கும் இடையே ஏற்படும் கூடுதல் செலவை மின் நுகர்வோர் மீது சுமத்துவது என்ற கோட்பாட்டின் கீழ் கட்டணத்தை உயர்த்தி வருகிறது. ஒவ்வொரு ஆண்டும் மின்கட்டணம் உயர்த்தப்படுகிறது நடப்பாண்டு இரண்டாவது முறையாக கட்டணம் உயர்த்தப்பட்டது. ஏற்கனவே‌ சுருங்கியுள்ள வருமானத்தில் கணிசமான தொகையை மின்சார கட்டணத்திற்காக செலவிடும் நிலைக்கு மக்கள் தள்ளப்படுள்ளார்கள்.</p>
      <p>மேலும் மின்சாரம் அதிகம் பயன்படுத்தப்படும் காலை-மாலை (பீக் ஹவர்) நேரத்திற்கு கூடுதல் கட்டணம் விகிதம் என்ற திட்டத்தை செயல்படுத்த ஒன்றிய மோடி அரசு நிர்பந்தித்து வருகிறது.</p>
      <p>குதிரையை கீழே தள்ளியதோடு குழி பறித்த கதையாக முன்பணம் செலுத்தப்பட்ட அளவீட்டு முறை (ப்ரீபெய்டு மீட்டரிங்) மற்றும் மின்துறையை தனியாருக்கு விற்கும் நடவடிக்கைகளை மத்திய, மாநில அரசுகள் மேற்கொண்டு வருகிறது. இதனால் "அனைவருக்கும் மின்சாரம்" என்ற கோட்பாடு கைவிடப்பட்டு, பணம் உள்ளவர்களுக்கு மட்டும் மின்சாரம் என்ற நிலை உருவாகும். மாதத்திற்கு 100 யூனிட் பயன்படுத்தும் ஏழைகள், விவசாயிகளுக்கு வழங்கப்படும் இலவசம் மின்சாரம் கைவிடப்படும்.</p>
      <p>இந்த 21ஆம் நூற்றாண்டில் மின்சாரம் இன்றி மக்கள் வாழ்க்கையை நினைத்துக்கூட பார்க்க முடியாது. மின்சாரம் தனியார் மயமானால் சமூக-பொருளாதார ரீதியில் பின்தங்கியுள்ள மக்கள் மேலும் பின்னுக்குத் தள்ளப்படுவார்கள். திரி விளக்கிலும், தீப்பந்தத்திலும் தான் வெளிச்சம் பெற முடியும். தொழில்கள் விவசாயம் உள்ளிட்ட அனைத்து துறைகளும் பாதிக்கும் வேலை வாய்ப்பு மேலும் வீழ்ச்சி அடையும் மாநிலத்தின் பொருளாதார வளர்ச்சி பாதிக்கும்.</p>
      <p>ஆகவே முன்பணம் செலுத்தும் அளவீட்டு முறை (ப்ரீபெய்டு மீட்டர்) வீட்டில் பொருத்துவதையும், மின்துறை தனியார் மயமாவதையும் எதிர்த்து <b>ஒரு லட்சம் குடும்பங்களை சந்தித்து கையெழுத்து இயக்கம்</b> 2023 டிசம்பர் 13 பாலாஜி திரையங்கம் அருகிலிருந்து முதல்வரிடம் மனுக்கொடுக்கும் பேரணி திட்டமிடப்பட்டுள்ளது.</p>
      </div>
      <p>அனைவரும் வருக!</p>
      <p>இவண்<br/>இந்திய கம்யூனிஸ்ட் கட்சி (மார்க்சிஸ்ட்)<br/>புதுச்சேரி மாநிலக்குழு</p>
    </div>
  </div>
</section>
<section class="hero">
  <div class="container">
    <div class="content is-medium m m-5">
      <h1 class="has-text-centered has-text-danger">Say No To Prepaid Smart Meters!
Stop Privatizing the Electricity Sector!!</h1>
      <div class="has-text-justified">
        <p>Dear all, greetings!</p>
        <p>I feel like asking how you are, but the cruelty of the ruling central and state governments makes me wonder if there is any point to such a question, as it causes distress.</p>
        <p>The cost of daily used items is increasing every day. Whether it's those running small or micro businesses or street vendors, everyone is struggling without business. On one side, we have people who have lost their jobs, while on the other, our educated children wander in search of employment — the people of Puducherry are facing these sorrows.</p>
        <p>In this situation, the central Modi government and the Puducherry BJP-NR Congress coalition government are desperately trying to hand over the state-owned electricity sector, which is worth 20,000 crore rupees, to their favored capitalists as a gift.</p>
        <p>The Marxist Communist Party, along with other parties and electricity workers, have been fighting against the selling of the electricity sector. Rulers do not care about the people; what seems important to them is the money offered by the capitalists who buy the electricity sector.</p>
        <p>During the Vajpayee administration, the Electricity Act of 2003 was introduced, which intensified privatization measures, and the state government's power to determine electricity tariffs was relinquished. Tariffs are now determined under the regulatory commission established by the central government.</p>
        <p>The aforementioned commission has been raising tariffs under the concept that cost incurred between the purchase and sale of electricity has to be passed on to the consumers. Electricity tariffs are being raised every year, and for this financial year, they were raised for the second time. People are pushed to spend a significant part of their income on electricity bills.</p>
        <p>Furthermore, the central Modi government is enforcing the implementation of additional tariffs during peak hours (morning and evening) of high electricity usage.</p>
        <p>With measures like prepaid metering (paying upfront for electricity) and actions to sell the electricity sector to private entities by central and state governments, the concept of electricity for all is being abandoned. A situation where only those with money will have electricity is emerging. The free electricity provided to poor families and farmers using up to 100 units per month will be withdrawn.</p>
        <p>It's unimaginable to think of life without electricity. If electricity becomes privatized, we can only get light from oil lamps and candles. All sectors, including industries and agriculture, will suffer, employment opportunities will decline, and the state's economic development will be impacted.</p>
        <p>Therefore, let's oppose the installation of prepaid meters in homes and the privatization of the electricity sector; join the signature campaign to meet one lakh families.</p>
        <p>On December 13, 2023, from near Balaji Theatre, we will march to submit a petition to the Chief Minister.</p>
      </div>
      <p>Everyone, come join!</p>
      <p>Sincerely,<br/>Communist Party of India (Marxist)<br/>Puducherry State Committee</p>
    </div>
  </div>
</section>
<section class="hero is-full-height has-background-grey-dark has-text-white" id="signature">
  <div class="hero-body">
    <p class="title has-text-danger has-text-centered is-size-4-mobile">
      ப்ரீபெய்டு மின் மீட்டரை எதிர்த்து கையெழுத்திட
    </p>
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column">
      <form method="post">
        <div class="field">
          <label class="label has-text-white">{{ form.name.label }}</label>
          <div class="control">
            {{ form.name }}
          </div>
          {% if form.name.errors %}
          {% for error in form.name.errors %}
          <p class="help is-danger has-text-danger">{{ error|escape }}</p>
          {% endfor %}
          {% endif %}
        </div>
        <div class="field">
          <label class="label has-text-white">{{ form.phone.label }}</label>
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                +91
              </a>
            </p>
            <p class="control is-expanded">
              {{ form.phone }}
            </p>
          </div>
          {% if form.phone.errors %}
          {% for error in form.phone.errors %}
          <p class="help is-danger has-text-danger">{{ error|escape }}</p>
          {% endfor %}
          {% endif %}
        </div>
        <div class="field">
          <label class="label has-text-white">{{ form.constituency.label }}</label>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              {{ form.constituency }}
            </div>
          </div>
          {% if form.constituency.errors %}
          {% for error in form.constituency.errors %}
          <p class="help is-danger has-text-danger">{{ error|escape }}</p>
          {% endfor %}
          {% endif %}
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              {{ form.readt_the_petition }}
              <b>{{ form.readt_the_petition.help_text }}</b>
            </label>
          </div>
        </div>
        {% csrf_token %}
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <input class="button is-danger" type="submit" value="கையெழுத்திடு | Sign" />
          </p>
        </div>
      </form>
    </div>
        <div class="column is-one-quarter"></div>
    </div>
    </div>
  </div>
</section>
{% endblock %}
