{% extends "signature/base_site.html" %}
{% load static %}
{% block title %}Save EB - Signature Campaign - CPI(M) Puducherry{% endblock %}
{% block content %}
<section class="hero is-full-height has-background-grey-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        <img src="{% static 'logo.png' %}" height="300px" width="300px" />
      </p>
      <p class="subtittle is-size-3 has-text-weight-bold is-family-monospace has-text-white">
        ப்ரீபெய்டு மின் மீட்டரை எதிர்த்து கையெழுத்திட்டவர்கள்
      </p>
      <p class="is-size-1 has-text-danger has-text-weight-bold">
        - {{ no_of_signatures }} -
      </p>
      <br/>
      <p class="subtittle is-size-4 is-size-5-mobile has-text-weight-bold is-family-monospace has-text-white">
        நேரில் பெறப்பட்ட படிவங்கள்
      </p>
      <p class="is-size-1 has-text-warning has-text-weight-bold">
        - {{ no_of_physical_signatures }} -
      </p>
      <br/>
      <p class="subtittle is-size-4 has-text-weight-bold is-family-monospace has-text-white">
        அனைவரின் உரிமைக்காக மனுவில் கையெழுத்திட்டமைக்கு புரட்சிகர வாழ்த்துக்கள்!
      </p>
      <p class="subtittle is-size-4 has-text-weight-bold is-family-monospace has-text-white">
        சமூக வலைத்தளங்களில் பகிர
      </p>
      <p class="has-text-centered">
        <div class="field">
            <a class="button is-whatsapp" target="_blank" rel="noopener" aria-label="Share on Whatsapp" href="whatsapp://send?text=%E0%AE%AA%E0%AF%8D%E0%AE%B0%E0%AF%80%E0%AE%AA%E0%AF%86%E0%AE%AF%E0%AF%8D%E0%AE%9F%E0%AF%81%20%E0%AE%AE%E0%AE%BF%E0%AE%A9%E0%AF%8D%20%E0%AE%AE%E0%AF%80%E0%AE%9F%E0%AF%8D%E0%AE%9F%E0%AE%B0%E0%AF%88%20%E0%AE%8E%E0%AE%A4%E0%AE%BF%E0%AE%B0%E0%AF%8D%E0%AE%AA%E0%AF%8D%E0%AE%AA%E0%AF%8B%E0%AE%AE%E0%AF%8D!%20%E0%AE%AE%E0%AE%BF%E0%AE%A9%E0%AF%8D%E0%AE%A4%E0%AF%81%E0%AE%B1%E0%AF%88%E0%AE%AF%E0%AF%88%20%E0%AE%AA%E0%AE%BE%E0%AE%A4%E0%AF%81%E0%AE%95%E0%AE%BE%E0%AE%AA%E0%AF%8D%E0%AE%AA%E0%AF%8B%E0%AE%AE%E0%AF%8D!!%20%23saveeb%20%23pycpim%20https%3A%2F%2Fsaveeb.pycpim.in">
                <span class="icon">
                    <i class="icon-whatsapp"></i>
                </span>
            </a>
            <a class="button is-facebook" target="_blank" rel="noopener" aria-label="Share on Facebook" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsaveeb.pycpim.in">
                <span class="icon">
                    <i class="icon-facebook"></i>
                </span>
            </a>
            <a class="button is-twitter" target="_blank" rel="noopener" aria-label="Share on Twitter" href="https://twitter.com/intent/tweet/?text=%E0%AE%AA%E0%AF%8D%E0%AE%B0%E0%AF%80%E0%AE%AA%E0%AF%86%E0%AE%AF%E0%AF%8D%E0%AE%9F%E0%AF%81%20%E0%AE%AE%E0%AE%BF%E0%AE%A9%E0%AF%8D%20%E0%AE%AE%E0%AF%80%E0%AE%9F%E0%AF%8D%E0%AE%9F%E0%AE%B0%E0%AF%88%20%E0%AE%8E%E0%AE%A4%E0%AE%BF%E0%AE%B0%E0%AF%8D%E0%AE%AA%E0%AF%8D%E0%AE%AA%E0%AF%8B%E0%AE%AE%E0%AF%8D!%20%E0%AE%AE%E0%AE%BF%E0%AE%A9%E0%AF%8D%E0%AE%A4%E0%AF%81%E0%AE%B1%E0%AF%88%E0%AE%AF%E0%AF%88%20%E0%AE%AA%E0%AE%BE%E0%AE%A4%E0%AF%81%E0%AE%95%E0%AE%BE%E0%AE%AA%E0%AF%8D%E0%AE%AA%E0%AF%8B%E0%AE%AE%E0%AF%8D!!%20%23saveeb%20%23pycpim&amp;url=https%3A%2F%2Fsaveeb.pycpim.in">
                <span class="icon">
                    <i class="icon-twitter"></i>
                </span>
            </a>
        </div>
      </p>
    </div>
  </div>
</section>
{% endblock %}
